* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

:root {
  --bg-color: #ffffff;
  --text-color: #151515;
  --primary-color: #ff6b6b;
  --secondary-color: #555;
}

body.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  --primary-color: #ff5151;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  background: var(--bg-color);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 10px #bc5e5eb1;
}

.navbar button{
    display: flex;
    font-size: 14px;
    color: var(--primary-color);
    border: none;
    background: transparent;
    cursor: pointer;
    padding-left: 5px;
}


.logo h1{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
    align-items: center;
    padding: 0 4.3rem;
}

.filterSort{
    display: none;
}

#cart{
    font-size: 16px;
    display: flex;
    color: #fa4242;
}



#search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

#searchBox{
    display: none;
}


#search-bar button{
    display: flex;
    color: var(--primary-color);
}

/* side bar */
.side-bar {
  width: 120px;
  background: var(--primary-color);
  display: none;
  position: fixed;
  flex-direction: column;
  padding: 35px 20px;
  border: none;
}

.side-bar a{
  color:#fff;
  padding: 10px 5px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  font-size: 12px;
}



/* Hero */
.hero {
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
  color: #fff;
  text-align: center;
  padding: 3rem 2rem;
}

.hero h1 {
  font-size: 1.2rem;
}

.hero p{
    margin-top:0.5rem;
    font-size: 0.8rem;
}

.btn-primary {
  margin-top: 1.2rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s;
  font-size: 12px;
}

.btn-primary:hover {
  transform: scale(1.05);
}


/* Categories */
.categories {
  padding: 1rem 0.5rem;
}

.categories h2 {
    font-size: 16px;
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.category-card {
    font-size: 10px;
  text-align: center;
  background-color: #fff;
  color: black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(45, 30, 30, 0.495);
  cursor: pointer;
  transition: transform 0.3s;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-card img {
  width: 100%;
  height: 50px;
  object-fit: cover;
}

.category-card p {
  padding: 5px;
  font-weight: 500;
  font-size: 11px;
}

/* Trending */

.trending h2 {
    font-size: 16px;
    margin-bottom: 1rem;
}
.trending, .product-list{
  padding:20px;
  }

.product-container, .product-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  padding: 5px;
  color: black;
}


.product {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.507);
  padding: 10px;
  text-align: center;
}

.product h3{
    font-size: 10px;
    font-weight: 200;
}

.product  p{
    font-size: 8px;
    
}
.product-card:hover {
  transform: scale(1.03);
}

.product img {
  width: 100%;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}

 .product button{
    font-size: 8px;
  background: transparent;
  border: 1px solid var(--primary-color);
  margin-top: 5px;
  color: var(--primary-color);
  padding: 2px 7px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-secondary:hover {
  background: var(--primary-color);
  color: #fff;
}


/* Newsletter */
.newsletter {
  background: #fdb3b3;
  color: #fff;
  padding: 1.5rem 0.4rem;
  text-align: center;
  border-radius: 20px;
  margin: 1rem;
}

.newsletter h2{
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.newsletter p{
    font-size: 14px;
}

form input {
    margin-top: 15px;
  padding: 5px 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  
}


.checkout-page {
  max-width: 600px;
  background: #fff;
  margin: 50px auto;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.checkout-page h2 {
  text-align: center;
  color:var(--primary-color);
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: 500;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.btn {
  width: 100%;
  margin-top: 20px;
  background: var(--primary-color);
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: var(--secondary-color);
}

/* Footer */
footer {
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #ccc;
}

footer p{
    font-size: 12px;
}

.socials {
 margin-top: 0.5rem;
}

.socials a {
  color: #fa4242;
  margin: 0.5rem;
  font-size: 1rem;
}

.socials a:hover {
  color: var(--bg-color);
}







/* tablet */
@media (max-width: 768px) {
  
  }

/* laptop */
@media (max-width: 1024px) {
  
}